/* 

Primary Color:

This is the main color used for key elements such as the header, footer, and primary buttons. It sets the overall tone and brand identity of the page.
Secondary Color:

Used to complement the primary color. This color can be used for secondary buttons, backgrounds, or other elements that should stand out but not as prominently as those using the primary color.
Accent Color:

A color used sparingly to highlight important information or calls to action. It can be used for links, highlights, or notifications.
Neutral Colors:

Typically includes shades of white, gray, and black. These colors are used for text, backgrounds, and to create contrast. They help balance the more vibrant colors in your palette.
Background Color:
 */



* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#header-icon {
    position: absolute;
    font-size: 1.4em;
    top: 25%;
    color: #fff;
    position: absolute;
    left:2%;
}

#header-icon:hover,
nav ul li a:hover {
    color: rgb(75, 65, 65);
}


.nav-flex-container {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 4%;
    font-size: 0.8em;
    height: 80px;
    padding: 40px 100px 15px 50px;
    z-index: 100;
    color: black;
    
}

nav ul li a{ 
    text-decoration: none;
    color: #fff;
    font-size: 25px; /* Base font size */
    transition: transform 0.3s ease; /* Smooth transition for scaling */

}
nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 25.22px;
    
}
nav {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    position: fixed;

}
.ul li {
    justify-self: center;
    align-self: center;
}

.logo {
    color: #fff;
    font-size: 28px;
    height: 100vh;
    width: 100%;
    background-image:url(../client/assets/body.jpg);
    background-size: cover;
    background-position: center;
}

/* =============HAMBURGER NAV ICON ==================*/
#hamb-container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    display: none;
    right: 3%;
    top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

#show {
    display: none;
}
 /* ======================================================================== */

 
footer {
    position: absolute;
    bottom: -30px;
    left: 10px;
    font-size: 1.1em;
    color: #fff;
    height:50px;
    width: 100%;
}

/* ==================================== SEARCH BAR ============================================== */
.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.2em;
}
.search-bar input{
    width: 20.5vw;
    padding: .7em;
    border-radius: .5em;
    margin: 1em;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}

.search-bar input:hover {
    background-color: rgb(26, 25, 25);
}

.search-bar button {
    background-color: #fff;
    width: 100px;
    height: 50px;
    margin-top: 22px;
    font-size: 22px;
    border: none;
    border-radius: .5em;
}
.search-bar button:hover {
    background-color: #a9a8a8;
    cursor: pointer;
}


.search-bar placeholder {
    color: aliceblue;
}
 /* ======================================================================== */

/* ==================================== HERO SECTION ============================================== */
.hero-section {
    position: absolute;
    width: 1000px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    opacity: .9;
    left: 100px;
}

.hero-h1 {
    font-size: 4.5em;
    padding: 1.5em 1.5em 0 1.5em;
    text-transform: uppercase;
    line-height: 1.4em;
}

.hero-h2 {
    font-size: 2.5em;
    color: rgb(128, 126, 123);
    padding: 50px 0 30px 120px;
    text-transform: capitalize;

}

.cta {
    position: absolute;
    left: 120px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.cta:hover {
    background-color: rgb(51, 49, 49);
}

 /* ======================================================================== */






/* ================================ MEDIA QUERIES ==================================================== */

/* Media query for devices with screen width of 880px or less */
@media only screen and (max-width: 729px) {
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        margin: 5px 0;
    }

    nav {
        position: relative;
    }

    .nav-mob-container {
        position: absolute;
        right:0;
        top: 0;
        width: 80%;
        height: 100vh;
        display: inline;
        background-color: red;
        z-index: 5;
        
    }

    .showing {
        background-color: rgb(130, 114, 86);
        height: 100vh;
        width: 65%;
        /* transition: background-color 2s ease-in; */
        position: absolute;
        right: 0;
        z-index: -1;
    }

    .showing li {
        font-size: 100px;
        width: 100%;
    }

    #hamb-container{
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: #000000;
        position: absolute;
        top: 27px;
        right: 8%;  
        z-index: 100;
    }
    
    #header-icon {
        position: absolute;
        top: 25px;
        left: 6%;
        color: rgb(255, 255, 255);
    }
    .search-bar {
        width: 90%;
        flex-direction: column;
        margin-left: 20px;
    }
    .search-bar input {
        width: 100%;
        margin: 20px 10px;
    }
    .search-bar button {
        margin: 0 40px 65px 40px;
        padding: 0;
        width: 90%;
    }
}


/* Media query for devices with screen width of 320px or MORE */
@media only screen and (max-width: 320px) {
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 4px 0;
    }
}

/* Animation for the hamburger on mobile viewport */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}
