/* General Styles */
body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  background-image: url(../assets/limes.jpg);
}

span {
  color: blueviolet;
}

#header-icon {
  position: absolute;
  font-size: 1.4em;
  top: 25%;
  color: #fff;
  left: 2%;
}

#header-icon:hover,
nav ul li a:hover {
  color: rgb(75, 65, 65);
}

.nav-flex-container {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
}

nav {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: 5;
  position: fixed;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
  height: 80px;
  padding-right: 10px;
  z-index: 100;
  color: black;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px; /* Base font size */
}

nav ul li a:hover {
  background-color: rgb(255, 255, 255);
  font-size: 25.22px;
}

.logo {
  color: #fff;
  display: flex;
  font-size: 28px;
  height: 100vh;
  width: 100%;
  background-image: url(../client/assets/body.jpg);
  background-size: cover;
  background-position: center;
}

/* =============HAMBURGER NAV ICON ==================*/
#hamb-container {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

footer {
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-size: 1.1em;
  color: #fff;
  height: 50px;
  width: 100%;
}

/* Animation for the hamburger on mobile viewport */
.showing .bar1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.showing .bar2 {
  opacity: 0;
}

.showing .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.7);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

input,
textarea {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#alcoholic {
  width: fit-content;
}

button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #444;
}

/* Results Section */
#form-results {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

.cocktail-results {
  background: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  z-index: 1;
}

.cocktail-results p {
  margin: 0.5rem 0;
}

.deletebutton {
  background-color: red;
  justify-content: end;
}

/* Media Queries */
@media (max-width: 700px) {
  #hamb-container {
    display: flex;
    justify-content: flex-end;
  }
}
/* 
@media (min-width: 700px) {
  main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.7);
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-top: 1rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  button:hover {
    background-color: #444;
  }


  #form-results {
    margin-top: 2rem;
  }

  .cocktail-results {
    background: #f1f1f1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    z-index: 1;
  }

  .cocktail-results p {
    margin: 0.5rem 0;
  }
} */
